@import url('../style.css');

.calendar {
	margin-left: 17px;
}

.hidden {
	display: none;
}

.calendar-monday,
.calendar-tuesday,
.calendar-wednesday,
.calendar-thursday,
.calendar-friday,
.calendar-saturday,
.calendar-sunday {
	display: flex;
	margin: 1em 5px;
}

.calendar__time {
	width: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.calendar__time h3 {
	font-family: var(--font-secondary);
	font-size: 17px;
	font-weight: 400;
	color: var(--informations-color);
}

.calendar__task {
	display: flex;
	align-items: center;
	background-color: var(--white);
	box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
	border-radius: 15px;
	width: 512px;
	height: 85px;
	margin-left: 2em;
}

.calendar__task--perfect {
	width: 14px;
	height: 85px;
	border-radius: 15px 0px 0px 15px;
	margin-right: 10px;
}

.calendar__task--text {
	font-size: 20px;
	color: var(--dark-gray);
	width: 425px;
}

.calendar__task--button {
	align-self: flex-start;
	border: none;
	border-radius: 4px;
	background-color: var(--button-delete);
	color: var(--white);
	margin-top: 5px;
	width: 57px;
	height: 25px;
	cursor: pointer;
}

/* Monday */
.calendar__time-monday {
	background-color: var(--monday-color-opacity);
}

.calendar__task--monday {
	background-color: var(--monday-color);
}

/* Tuesday */
.calendar__time-tuesday {
	background-color: var(--tuesday-color-opacity);
}

.calendar__task--tuesday {
	background-color: var(--tuesday-color);
}

/* Wednesday */
.calendar__time--wednesday {
	background-color: var(--color-primary-opacity);
}

.calendar__task--wednesday {
	background-color: var(--color-primary);
}

/* Thursday */
.calendar__time--thursday {
	background-color: var(--thursday-color-opacity);
}

.calendar__task--thursday {
	background-color: var(--thursday-color);
}

/* Friday */

.calendar__time--friday {
	background-color: var(--friday-color-opacity);
}

.calendar__task--friday {
	background-color: var(--friday-color);
}

/* Saturday */
.calendar__time--saturday {
	background-color: var(--saturday-color-opacity);
}

.calendar__task--saturday {
	background-color: var(--saturday-color);
}

/* Sunday */
.calendar__time--sunday {
	background-color: var(--sunday-color-opacity);
}

.calendar__task--sunday {
	background-color: var(--sunday-color);
}