@import url('components/header.css');
@import url('components/activity.css');
@import url('components/week.css');

:root {
	--white: #FFFFFF;
	--bg-color: #E5E5E5;
	--color-primary: #6688FF;
	--monday-color: #FFA246;
	--tuesday-color: #35E185;
	--thursday-color: #B266FF;
	--friday-color: #66D1FF;
	--saturday-color: #FF66D4;
	--sunday-color: #FF6666;
	--font-primary: 'Poppins', sans-serif;
	--font-secondary: 'Nunito', sans-serif;
	--button-save: #2CBE82;
	--button-remove: #DA2B40;
	--informations-color: #3B3E45;
}

body {
	background-color: var(--bg-color);
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 16px;
}